.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;
    }

    &__background {
    //The background begins as a circular gradient that is hidden behind the navigation button. Upon click, we will transform the size.

        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.83, 0, 0.17, 1);

    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: -25%; //Start it off screen for a smoother animation
        z-index: 1500;
        width: 0; //Initially 0 to hide the element.
        opacity: 0;
        overflow: hidden;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-25%, -50%); //Ends up at 50% because of the -25% starting location.
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 1rem;
    }

    &__link {

        &:link, &:visited {
        display: inline-block;
        font-size: 3rem;
        font-weight: 300;
        padding: 1rem 2rem;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
        background-size: 240%; //Increasing and decreasing the background size is the trick for the effect in this section.
        transition: all .4s;
        
            span {
                margin-right: 1.5rem;
                display:inline-block;
            }
        }
    
        &:hover, &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }

    //FUNCTIONALITY
    &__checkbox:checked ~ &__background { //Upon check, resize background
        transform: scale(120);
    }

    &__checkbox:checked ~ &__nav { //Upon check, resize the nav text and increase opacity to 1
        opacity: 1;
        width: 100%;
    }

    //ICON - Three lines that can be manipulated. There is one original (a span) and two pseudo elements on top and bottom of it, respectively.
    //&before = top line... &before = bottom line
    &__icon {
        position: relative;
        margin-top: 50%;

        &, &::before, &::after {
            width: 3rem;
            height: 2px; //Using px because this needs to stay constant.
            background-color: $color-grey-dark-3;
            display: inline-block;
            transition: all .2s;
        }

        &::before, &::after {
            content: "";
            position: absolute;
            left: 0;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }
    }
    
    &__button:hover &__icon::before {
    top: -1rem
    }

    &__button:hover &__icon::after {
        top: 1rem
    }
}