$color-primary: #55c57a;;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;

*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; 
    /* Before this was a percent, we made it 10 because it makes the math for REM easy later. 1 REM = 10px, as opposed to 1 REM = 16px. However, we don't want it to stay as pixels because we want users to be able to specify their own font size in the browser.
    
    Setting it to 100% would solve this problem, but the default in most browsers is 16px, and our math has been tuned for 10px. Therefore, we divide 10 (what we want) by 16 (what is default) and get 62.5%
    */
}

body {
    padding: 3rem;
    font-family: "Lato", sans-serif; /* This was imported on my index.html page. */
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    box-sizing: border-box;

}

.header {
    position: relative;
    height: 80vh;
    background-image: 
        linear-gradient(
                to right bottom,
                rgba($color-primary-light, 0.8),
                rgba($color-primary-dark, 0.8)),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo {
    height: 3.5rem;
}

.header__text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 0.75s ease-out;
}

.heading-primary--sub {
    margin-bottom: 4rem;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 0.75s ease-out;
}

.btn:link, 
.btn:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all .2s;
    font-size: 1.6rem;
    position: relative;
}

.btn:active {
    transform: translateY(-.1rem);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .25);
}

.btn:hover::after{
    transform: scaleX(1.3) scaleY(1.6);
    opacity: 0;
}

.btn--white {
    background-color: #fff;
    color: $color-grey-dark;
}

.btn--white::after {
    background-color: #fff;
}

.btn--animated {
    animation: moveInBottom .5s ease-out .35s;
    animation-fill-mode: backwards;
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    60% {
        transform: rotate(-2deg);
    }

    80% {
        transform: translateX(-1.2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    60% {
        transform: rotate(-2deg);
    }
    80% {
        transform: translateX(1.2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}